/*

    COPYRIGHT 
    
    JO ZHOU 2022

*/

@font-face {
    font-family: 'gopher';
    src: url("../font/Gopher-Black.otf") format("opentype");
}

@font-face {
    font-family: 'Source sans pro';
    src: url("../font/SourceSansPro-Light.ttf") format("truetype");
}


/*
    ---------------
    Page Properties
    ---------------
*/

body {
    background-color: #F5F0E0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px 10% 25px;
}

hr {
    text-align: center;
    font-family:gopher, sans-serif;
    border: 2px dashed black;
    margin: 50px 0;
}


/* 
    -----------------
    Colour Properties
    -----------------
*/

.bg-green {
    background-color: #5FA47B;
}

.bg-blue {
    background-color: #353D87;;
}

.bg-orange {
    background-color: #C2663D;
}

.bg-yellow {
    background-color: #EBB45A;
}

.bg-grey {
    background-color: #5c5555;
}

mark.blue {
    color:#353D87;
}

mark.yellow {
    color:#EBB45A;
}

mark.orange {
    color:#C2663D;
}

mark.green {
    color:#5FA47B;
}

.hover-orange:hover {
    color: #C2663D;
    cursor: pointer;
    text-decoration: none;
}

.hover-blue:hover {
    color: #353D87;
    cursor: pointer;
    text-decoration: none;
}

.hover-green:hover {
    color: #5FA47B;
    cursor: pointer;
    text-decoration: none;
}


/* 
    ----------------------
    Interactive Properties
    ----------------------
*/

.scalable {
    transition-duration: .2s;
}
    
.scalable:hover {
    transform: scale(1.25);
    cursor:pointer;
}

.tiltable {
    transition-duration: .2s;
}

.tiltable:hover {
    transform: rotate(5deg);
    cursor: pointer;
}


/* 
    ---------------
    Text Properties
    ---------------
*/

.middle-align {
    text-align: center;
}

mark {
    background: none;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-family: Source sans pro;
    font-weight: lighter;
    margin: 0 0 40px;
}

h1 {
    font-size: 65px;
    font-family: gopher, sans-serif;
    margin: 20px 0 50px;
}

h2 {
    font-size: 48px;
    font-family: gopher, sans-serif;
    margin: 0 0 20px;
}

h3 {
    font-size: 36px;
    font-family: gopher, sans-serif;
    margin: 0 0 20px;
}

h4 {
    font-size: 24px;
    font-family: gopher, sans-serif;
    margin: 0 0 20px;
}

h5 {
    font-size: 24px;
    font-family: gopher, sans-serif;
    margin: 0 0 20px;
}

ul {
    padding: 0;
    margin: 0 0 50px;
    list-style-type: decimal;
    font-family: Source sans pro;
    font-size: 24px;
    font-weight: lighter;
    
}


/*
    -----------------
    Navbar Properties
    -----------------
*/

.grid-container-nav {
    display: grid;
    grid-template-columns: 15% auto 20% 20%;
    grid-gap: 20px;
    margin-bottom: 50px;
}

.logo {
    grid-column: 1 / 2;
    min-width: 150px;
}

.nav-item-1 {
    grid-column: 3 / 4;
}

.nav-item-2 {
    grid-column: 4 / 5;
}

.nav-button {
    width: 100%;
    min-width: 80px;
    max-width: 280px;
    margin: auto 0;
    font-size: calc(10px + 1.2vw);
}


/*
    Breadcrumbs Properties
    ----------------------
*/

.breadcrumbs {
    list-style: none;
}


.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li:before {
    color:#000000;
    font-size: 18px;
    font-family:gopher, sans-serif;
    font-style: italic;
    padding: 0 20px;
    content: ">>";
}

.breadcrumbs li {
    font-size: 24px;
    font-family: gopher, sans-serif;
    font-style: italic;
}

.breadcrumbs li a {
    color:#000000;
    text-decoration-line: underline;
    transition-duration: .2s;
}

.breadcrumbs li a:hover{
    color:#353D87;
}


/*
    Footer Properties
    -----------------
*/

.grid-container-footer {
    display: grid;
    grid-template-columns: auto 20% 18% 20% auto;
    grid-gap: 20px;
    margin: 0 auto 0;
    line-height: 2;
}

footer ul {
    margin: auto 0 auto;
}

footer li {
    justify-content: center;
    display: flex;
    padding: 12px 0 12px;
}

footer li a {
    color:#000000;
    font-size: 24px;
    font-family: gopher, sans-serif;
    font-weight: normal;
    transition-duration: .2s;
}

.footer-list-1 {
    grid-column: 2 / 3;
}

.footer-logo {
    grid-column: 3 / 4;
   
    margin: auto 0 auto;
}

.footer-list-2 {
    grid-column: 4 / 5;
}


/*
    Hero Items
    -----------------
*/

.hero-intro {
    margin: auto 0 auto;
}

.secondary-hero-img {
    width: 100%;
}


/*
    Mockup Properties
    -----------------
*/

.mockup-card {
    padding: 50px 30px 50px;
    margin-bottom: 60px;
    border: 8px solid #000000;
    box-shadow:10px 10px #000000;
}

.mockup-landscape {
    width: 100%;
}

.mockup-portrait {
    width: 50%; 
}



/*
    Grid Properties
    -----------------
*/

.grid-container-twin {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 50px;
    margin: 0 0 50px;
}

.grid-container-twin-focus-left {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 50px;
}

.grid-container-triplet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 50px;
    margin: 0 0 50px;
}

.grid-container-triplet-cards {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto; 
    grid-gap: 50px;
    margin: 0 0 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 45% 25%;
    grid-template-rows: 100%;
    grid-gap: 36px;
    padding-left: 36px;
}

.skill-list {
    grid-gap: 100px;
    margin: 50px 0 30px;
}


/*  
    Image Properties
    ----------------
*/

img {
    display: block;
    width: 100%;
    margin: auto;
}

.mockup-hero-img {
    display: inline;
    width: auto;
    height: 100%;
}

.mockup-img-block {
    height: 20vw;
    min-height: 160px;
    margin: 50px 0;
}


/*
    Button & Link Properties
    ------------------------
*/

button { 
    height: 45%;
    max-height: 70px;
    color:white;
    font-family:gopher, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 6px solid #000000;
    box-shadow:8px 8px #000000;
}

.resume-button {
    margin: 48px 0 20px;
    background: #C2663D;
    width: 360px;
}

.link {
    color:#353D87;
    text-decoration-line: underline;
    transition-duration: .2s;
    cursor: pointer;
}

h3.link {
    margin: 70px 0 50px;
}

h4.link {
    margin-bottom: 40px;
}

.link:hover{
    color:#5FA47B;
}



/*
    Project Page Properties
    -----------------------
*/

.summary-card {
    width: 70%;
    padding: 30px min(50px, 10%);
    margin: 0 auto 50px;
    border: 8px solid #000000;
    box-shadow: 10px 10px #000000;
}

.strategy-card {
    min-height: 300px;
    margin: 0 auto 50px;
    padding: 20px;
    color: white;
    border: 8px solid #000000;
    box-shadow: 10px 10px #000000;
}

.idea-card {
    padding: 8px 8px 8px;
    margin: 0 8px 0;
    border: 8px solid #000000;
    box-shadow: 10px 10px #000000;
    font-weight: bold;
    color: white;

}

/*TEMPORARY STATIC IMAGE*/
.container-static-card {
    width: 60%;
    margin: 0 auto 50px;
}


/*
    Media Queries
    -------------
*/


@media (max-width: 1200px) {

    .grid-container-twin {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0 0 20px;
    }

    .hero-img {
        width: 80%;
        margin: 0 auto 0;
    }

}



/*CHANGE TO 480 LATER FOR MOBILE*/
@media (max-width: 600px) {

    hr {
        margin: 0 0 30px;
    }

    p {
        font-size: 16px;
        margin: 0 0 20px;
    }

    h1 {
        font-size: 45px;
        margin: 10px 0 10px;
    }

    h2 {
        font-size: 36px;
        margin: 0 0 10px;
    }

    h3 {
        font-size: 24px;
        margin: 0 0 10px;
    }

    h4 {
        font-size: 16px;
        margin: 0 0 10px;
    }

    h5 {
        font-size: 16px;
        margin: 0 0 10px;
    }

    ul {
        font-size: 16px;
        margin: 0 0 20px;
    }

    h3.link {
        margin: 30px 0 20px;
    }
    
    h4.link {
        margin: 0 0 20px;
    }

    .breadcrumbs li+li:before {
        font-size: 10px;
    }
    
    .breadcrumbs li a {
        font-size: 16px;
    }

    .summary-card {
        width: 100%;
        margin: 0 auto 30px;
    }

    .idea-card {
        width: 70%;
        margin: 16px auto 16px;
    }

    .mockup-img-block {
        margin: 20px 0 20px;
    }

    /*TEMPORARY STATIC IMAGE*/
    .container-static-card {
        width: 100%;
        margin: 0 auto 20px;
    }

    footer li {
        padding: 7px 0 7px;
    }
    
    footer li a {
        font-size: 16px;
    }

    

    
    /*
        Grid Properties
        ---------------
    */

    .grid-container-triplet {
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin: 0 0 20px;
    }

    .grid-container-footer {
        line-height: 1.5;
    }
}
